html {
    background-size: 200%;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    background-image: url(img/background.jpg);
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/* Banner */

.banner {
    padding: 0px;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    margin: 0;
    position: fixed;
    top: 50%;
    transform: translatey(-50%);
}

.banner_title {
    font-size: 9.1rem !important;
    font-style: italic;
    margin: 0 15px 0 0;
}

.banner_text {
    font-size: 1.75rem !important;
    margin: 0;
}

/* Texte */

h1 {
    margin: 0;
    position: fixed;
    top: 50%;
    transform: translatey(-50%);
    min-width: 100%;
}

img {
    margin-top: 1em;
    width: 90%;
    border-radius: 1em;
}

h3 {
    position: relative;
    margin: 0;
    top: 4%;
    width: 50%;
    border-radius: 1em;
    background-color: #ef9f00;
}

a {
    text-decoration: none;
    color: black;
}